## Drop and Cleaning Data

In [7]:
import pandas as pd

# Ganti path dengan lokasi sebenarnya dari file CSV
file_path = '/Users/erikuncoro/Documents/Project_Rekdat/ETL-Pipeline/04-Analysis/four-days-merge.csv'

# Memuat file CSV ke dalam dataframe pandas
data = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari data untuk memeriksanya
data.head()

,id,kota,jamCuaca,kodeCuaca,cuaca,humidity,tempC,tempF,iqa,wind_dir_deg,wind_spd_km_h,pressure_mbar,accessed
0,Ambon_2023-11-20T00:00:00,Ambon,2023-11-20 00:00:00,3,Berawan,80,29.0,84.0,47,174,7.4,1010,2023-11-20
1,Ambon_2023-11-20T06:00:00,Ambon,2023-11-20 06:00:00,3,Berawan,65,32.0,90.0,52,174,11.1,1011,2023-11-20 06:00:00
2,Ambon_2023-11-20T12:00:00,Ambon,2023-11-20 12:00:00,1,Cerah Berawan,80,28.0,82.0,54,174,18.4,1009,2023-11-20 12:00:00
3,Ambon_2023-11-20T18:00:00,Ambon,2023-11-20 18:00:00,1,Cerah Berawan,95,24.0,75.0,51,174,12.8,1010,2023-11-20 18:00:00
4,Badung_2023-11-20T00:00:00,Badung,2023-11-20 00:00:00,3,Berawan,85,28.0,82.0,69,184,3.7,1012,2023-11-20

In [8]:
import pandas as pd

# Memuat data dari file CSV
file_path = '/Users/erikuncoro/Documents/Project_Rekdat/ETL-Pipeline/04-Analysis/four-days-merge.csv'
data = pd.read_csv(file_path)

# Melakukan drop kolom 'id', 'cuaca', 'accessed'
data = data.drop(['id', 'cuaca', 'accessed'], axis=1)

# Menyimpan data yang telah dimodifikasi ke dalam file CSV baru
new_file_path = 'ready-merge.csv'
data.to_csv(new_file_path, index=False)

print(f"Data has been saved to {new_file_path}")

Data has been saved to ready-merge.csv

In [9]:
data.head()

,kota,jamCuaca,kodeCuaca,humidity,tempC,tempF,iqa,wind_dir_deg,wind_spd_km_h,pressure_mbar
0,Ambon,2023-11-20 00:00:00,3,80,29.0,84.0,47,174,7.4,1010
1,Ambon,2023-11-20 06:00:00,3,65,32.0,90.0,52,174,11.1,1011
2,Ambon,2023-11-20 12:00:00,1,80,28.0,82.0,54,174,18.4,1009
3,Ambon,2023-11-20 18:00:00,1,95,24.0,75.0,51,174,12.8,1010
4,Badung,2023-11-20 00:00:00,3,85,28.0,82.0,69,184,3.7,1012